/src/Application/DocBundle/Resources/public/doc
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/*
/vendor/*
/bin/
/.idea
/.nbproject
/var/*
/app/config/parameters.yml
/app/config/parameters.yml.dist
/src/*/.git
/.svn
/mage.bat
/nbproject
app/SymfonyRequirements.php
app/check.php
web/uploads/
web/100901/
web/css/
web/gtm/
web/images/
web/material/
web/mys/
web/js/
npm-debug.log
desktop.ini
app/migrations/
.buildpath
.project
.settings/
app/sessions/
.synkron.syncdb
backup/
/src/Beluga/
/src/Application/
web/
/app/
behat.yml
composer.json
composer.lock
composer.phar
parameters/ 
web/
